@import "base.css";

@font-face {
  font-family: 'Coustard';
  font-style: normal;
  font-weight: 900;
  src: local('Coustard'), url(../images/Coustard.woff) format('woff');
}

@font-face {
  font-family: 'Antic Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Antic Slab'), local('AnticSlab-Regular'), url(../images/AnticSlab.woff) format('woff');
}

body {
    color: #000;
    font-family: sans-serif;
    font-size: 16px;
    margin: 0 auto 100px auto;
    max-width: 100%;
    padding: 30px 50px 50px 30px;
}

a{
    color: rgb(109, 145, 225);
    text-decoration: none;
}

header {
    border-bottom: 1px solid rgb(109, 145, 225);
    margin-bottom: 30px;
    padding: 65px 0px 12px 0px;
    z-index: 999;
    width:100%;
}

div.logo {
    width:100%;
    text-align: center;
}

div.logo a {
    color: #666;
    font-family: 'Montserrat', sans-serif;
    font-size: 38px;
    font-weight: bold;
    text-decoration: none;
    text-shadow:;
}

header nav {
    margin-top: 20px;
    text-align: center;
}

header nav a {
    color: #00B;
    font-family: 'Bangers', sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-left: 5px;
    text-decoration: none;
    text-transform: uppercase;
}

header nav a:hover {
    background:#113;
    color:white;
    text-decoration: none;
}


footer {
    background: rgb(109, 145, 225);
    color: #444;
    font-size: 12px;
    padding: 32px 0px 32px 0px;
    text-align: center;
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
}

footer a {
    color: #000;
    text-decoration: none;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

section.header {
    color: #555;
    font-size: 14px;
    font-style: italic;
}
