@import "base.css";

/* fonts */
@import url(http://fonts.googleapis.com/css?family=Ubuntu);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
    background-color: #f8f8f8;
    color: black;
    font-size: 16px;
    margin: 40px auto 0px auto;
}

div#header {
    margin-bottom: 0px;
    padding: 50px 50px 10px 50px;
    background: #FFFFFF;
}

div#logo a {
    color: #000000;
    float: left;
    font-family: Avenir, 'Open Sans', sans-serif;
    font-size: 36px;
    text-decoration: none;
}

div#header #navigation {
    line-height: 45px;
    text-align: right;
}

div#header #navigation a {
    color: #BBBBBB;
    font-family: Avenir, 'Open Sans', sans-serif;
    font-size: 16px;
    margin-left: 45px;
    text-decoration: none;
    text-transform: capitalize;
}

div#header #navigation a:hover{
  color: #000000;
}

div#content {
  margin-left: 50px;
  margin-right: 50px;
}

div#content h1{
  color: #222222;
  font-size: 42px;
  font-family: Avenir, 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.45;
}

div#content, /* this line for archives page */
div#content p{
    color: #666666;
    font-family: Avenir, 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

div#content a{
  color: #428bca;
  text-decoration: none;
}

div#footer {
    border-top: 1px solid #DEDEE1;
    color: #999999;
    font-size: 16px;
    text-align: left;
    height: 4em;
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    padding-top: 1em;
    padding-left: 50px;
    font-family: Avenir, 'Open Sans', sans-serif;
}

div#footer a {
  color: #428bca;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

div.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
}

