body {
    color: #A39A9A;
    font-family: monospace, helvetica, sans-serif;
    font-size: 16px;
    margin: 0px auto 0px auto;
    width: 600px;
}

div#header {
    border-bottom: 4px ridge #E4E2CA;
    margin-bottom: 30px;
    padding: 0px 0px 12px 0px;
    background: url(http://upload.wikimedia.org/wikipedia/commons/e/e6/Manhattan_Herald_Square_James_Gordon_Bennett_Memorial.JPG) no-repeat;
    background-size: cover;
    background-position: center -410px;
    height: 250px;
}

div#logo a {
    color: #0E5A2D;
    float: left;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    background: rgba(248, 248, 248, 0.5);
}

div#header #navigation {
    text-align: right;
}

div#header #navigation a {
    color: #BCD6C7;
    font-size: 18px;
    font-weight: light;
    margin-left: 12px;
    text-decoration: none;
    text-transform: uppercase;
    background: rgba(0,0,0,0.5);
}

div#header #navigation a:hover {
    color: #fff;
}

div#footer {
    border-top: solid 2px black;
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

div.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
}
