<div class="sidebar">
  <div class="download">
    <a href="$downloadUrl$" class="btn">Download</a>
  </div>
  <div class="demo">
    <a href="$demoUrl$" class="btn">Live Demo</a>
  </div>
  <div class="info">
    <h3>Tags</h3>
    $if(tags)$ 
      Tags: $tags$ 
    $endif$
  </div>

  <div class="info">
    <h3>Stats/Information</h3>
      Posted on $date$
      $if(author)$
          by $author$
      $endif$
  </div>
</div>

<div class="main">
  $if(mainImg)$
  <div class="promo">
    <img src="/images/$mainImg$" class="cover" />
  </div>
  $endif$

  $body$
</div>
