<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    $partial("templates/head.html")$
    <body>
	<div id="preloader">
	    <div id="status">

	    </div>

	</div>  
	$partial("templates/nav.html")$

        <div id="content">
            $body$
        </div>
        <div id="footer">
        </div>
      $partial("templates/footer.html")$
    </body>
</html>
