<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    <li>
                        <a href="$baseurl$/feed.xml" data-datatype="json" data-type="GET" data-target="#frame" class="reload" id="clickme">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    $if(twitter_username)$
                    <li>
                        <a href="https://twitter.com/$twitter_username$" data-datatype="json" data-type="GET" data-target="#frame" class="reload" id="clickme" target="_blank">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    $endif$
                    $if(google_username)$
                    <li>
                        <a href="https://plus.google.com/u/0/111391719267336703432/posts" data-datatype="json" data-type="GET" data-target="#frame" class="reload" id="clickme" target="_blank">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    $endif$ 
                    $if(github_username)$ 
                    <li>
                        <a href="https://github.com/$github_username$" target="_blank">
                            <span class="fa-stack fa-lg">

                              <i class="fa fa-arrow-circle-o-down"></i>
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    $endif$
		    $if(instagram_username)$
                    <li>
                        <a href="https://instagram.com/$instagram_username$" target="_blank">
                            <span class="fa-stack fa-lg">

                              <i class="fa fa-arrow-circle-o-down"></i>
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
		    $endif$
                </ul>
                <p class="copyright text-muted">Copyright &copy; katychuang 2015. <br><br> 
                </p>
<div class="col-md-12">
     <p class="copyright text-muted">
            Site generated by
            <a href="http://jaspervdj.be/hakyll">Hakyll</a>. Modified theme inspired by
      <!-- ICE AND FIRE THEME https://github.com/SpaceG/iceandfire -->
    <a href="https://github.com/SpaceG/CleanMagicMedium-Jekyll">CleanMagic.</a> </p>
    </div>


    
            </div>
        </div>
    </div>
</footer>

<!-- jQuery -->
<script src="$baseurl$/static/js/jquery.min.js"></script>
<script src="$baseurl$/static/js/spaceg.stylesheets.min.js"></script> 
<script src="$baseurl$/static/js/bootstrap.min.js"></script>
<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
<script src="$baseurl$/static/js/scripts.js"></script>


