<!-- Post Header -->
<header class="intro-header" style="background-image: url('$baseurl$/static/img/beach.jpg')" alt="" title="">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>$title$</h1>
                    $if(subtitle)$
                    <h2 class="subheading">$subtitle$</h2>
                    $endif$
                    <span class="meta">
		    $if(author)$
			Posted by $author$
		    $endif$
			$date$
		    </span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

			$body$	

                <hr>

                <ul class="pager">
                    $if(previous.url)$
                    <li class="previous">
                        <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; Previous Post</a>
                    </li>
                    $endif$
                    $if(next.url)$
                    <li class="next">
                        <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Next Post &rarr;</a>
                    </li>
                    $endif$
                </ul>

            </div>
        </div>
    </div>
</article>
<hr>
